// for responsive elements
$breakpoint-tablet: 992px;
$breakpoint-mobile: 600px;

// font families
$font-caps: "Barlow Condensed", sans-serif;
$font-text: "Barlow Semi Condensed", sans-serif;

// color scheme
$grey-dark: #323246;
$grey-light: #a4a2b1;
$white: #ffffff;
$red-main: #da2f35;
$red-purple: #c84c5a;
$purple-red: #ba5975;
$purple-main: #a76697;
$purple-blue: #857cb0;
$blue-purple: #6a87bb;
$blue-main: #3292c5;
$purple-green: #9c77a2;
$green-purple: #8bab76;
$green-main: #83ba58;
